<div>
  <div>
    <h1 class = "d-flex align-items-center justify-content-center" style="height: 50vh;">
      Select a cateogry
    </h1>
  </div>
</div>

<div>
  <div>
    <h2>
      Add a new category
    </h2>

    <form action="/insert_category" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Create category
      </button>
    </form>
  </div>
</div>

<div>
  <% @list_of_categories.each do |a_category| %>
    <button type="button" class="btn btn-primary text-white" style="background-color: #<%= "%06x" % (rand * 0xffffff) %>; border-color: #<%= "%06x" % (rand * 0xffffff) %>;">
      <a href="/categories/<%= a_category.id %>" class="text-white"><%= a_category.name %></a>
    </button>  
  <% end %>
</div>

