<div class = "login">

<h1 class = "login-title">Sign up</h1>

<form action="/insert_user" method="post" class="login-form">
  <div>
    <div>
      <label for="email_box">Email</label>
    </div>
    <input id="email_box" name="query_email" placeholder="Choose an email..." type="text" class="login-input">

    <div>
    <label for="password_box">Password</label>
    </div>
    <input id="password_box" name="query_password" placeholder="Choose a password..." type="password" class="login-input">
    
    <label for="password_confirmation_box">Confirm your password</label>
    <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password" class="login-input">
    </div>

    <button class="login-submit">
      Sign up
    </button>

  <p>
    Or, <a href="/user_sign_in">Sign in</a> instead.
  </p>
</form>

</div>
